body {
  background: linear-gradient(#dcfed4 0%, #f6fbb0 100%);
}

h1 {
  font-size: 45px;
  font-family: 'Niagara Solid', Arial;
  background: linear-gradient(#d8ee9f 0%, #acf543 90%);
  padding: 20px;
  margin-top: 50px;
  margin-bottom:20px;
  color: #266547;
  text-align: center;
 }

h2 {
  font-size: 30px;
  font-family: Verdana;
  background-color: #d1f583;
  padding: 10px;
  margin: 10px;
  color: #266547;
  text-align: center;
 }

h3{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.mylist
{
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    list-style-type: none;
    text-align: left;
    font-size: 16px;
    background: linear-gradient(#c3fada, #86fa93);
    border: 1px solid #266547;
    box-shadow: 0px 6px 7px rgba(0,0,0,0.16);
}


.perf{
    font-weight: 200;
    font-size: 14px;
    color: rgba(7, 115, 150, 0.90);
    display: inline-block;
}

.btn-primary
{
    float: right;
    color: #379837;
    border-color: #266547;
    background-color: #fff;
    transition: all .15s linear;
}

.btn-primary:hover,
.btn-primary:focus{
  color: #fff;
  background-color: #379837;
  border-color: #266547;
  transition: all .15s linear;
}

.btn-del{
    color: #fff;
    background-color: #3475a5;
    float: right;
    height: 19px;
    padding: 6px 3px;
    font-weight: 500;
    line-height: 7px;
    margin-left: 5px;
    font-size: 13px;
}

.btn-com{
    color: #fff;
    background-color: #21c69d;
    float: right;
    height: 19px;
    padding: 6px 3px;
    font-weight: 500;
    line-height: 7px;
    margin-left: 5px;
    font-size: 13px;
}

.label{
    float: right;
}

.sis {
  font-family: vast-shadow, sans-serif;
  font-size: 36px;
}

.label-l{
    background-color: #bfca60;
}

.label-h{
    background-color: #fcc100;
}

.label-m{
    background-color: #50de60;
}